<header>
    <div class="app-title">2021 Javascriptmas Challenge</div>
    <nav role="navigation" aria-label="Main Navgation">
        <ul  class="nav-menu">
            <li class="menu-item"><a href="/">Home</a></li>
             <li class="menu-item"><a href="/">Test</a></li>
        </ul>
    </nav>
</header>